<%= form_for(@item) do |f| %>
  

  <div class="field">
    <%= f.label :num_images %><br />
    <%= f.number_field :num_images %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
